<div class="product" id="product" style="background-color: #DEE2E3;">
		<div class="container">
			<div class="product-top">
				<div class="col-md-12 product-left heading">
					<h3 class="tittle new">Bulletin Board</h3>
					<ul>

						<!-- <li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/raining_southern26-28_12_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 26 - 28 ธันวาคม 2560 (25/12/2017)</a> <a class="blink" style="color: red">NEW</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/raining_southern22-25_12_2560.PDF" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 22 - 25 ธันวาคม 2560 (21/12/2017)</a> <a class="blink" style="color: red">NEW</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="unitschool.html" target="_blank">การจัดการเรียนการสอนภายในหน่วยงาน (Unit School) (20/12/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_28-11_1-12_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 28 พฤศจิกายน - 1 ธันวาคม 2560 (27/11/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/2560.10.30-alert_southern_thailand.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 30 ตุลาคม - 4 พฤศจิกายน 2560 (30/10/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news10.html" target="_blank">Mr. Somchok Chaisawat, Irrigation Engineer Practitioner Level, Water Allocation Branch 2 (WAB2), has attended the training course under the Japan Science and Technology Agency (JST)’s SAKURA Exchange Program in Science (16/10/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_9-11_10_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 9 - 11 ตุลาคม 2560 (10/10/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_location06-10-2560.pdf" target="_blank">ขอให้ตรวจสอบสภาพความพร้อมใช้งานของอาคารชลประทานเพื่อเตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป (06/10/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_2-6_10_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 2 - 6 ตุลาคม 2560 (03/10/2017)</li> -->

						<!--<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_14-18_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 14 - 18 กันยายน 2560 (14/09/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_11-17_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 11 - 17 กันยายน 2560 (12/09/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_4-10_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 4 - 10 กันยายน 2560 (05/09/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_28_08_2560-2_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 28 สิงหาคม 2560 - 2 กันยายน 2560 (28/08/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_25-31_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 25-31 สิงหาคม 2560 (25/08/2017)</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_21-28_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 21-28 สิงหาคม 2560 (21/08/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_15-22_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 15-22 สิงหาคม 2560 (15/08/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_location07-08-2560.pdf" target="_blank">ขอให้ตรวจสอบสภาพความพร้อมใช้งานของอาคารชลประทานเพื่อเตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป (07/08/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_water_situation.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป (01/08/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_25-28_07_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 25-28 กรกฎาคม 2560 (25/07/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news9.html" target="_blank">Mr. Chaowalit will perform workshop on Innovative Water Resource Management in IR Iran during 22-26 July 2017 (21/07/2017)</a> </li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/situation_of_Yom_river.pdf" target="_blank">สถานการณ์น้ำและการบริหารจัดการน้ำลุ่มน้ำยม (18/07/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news8.html" target="_blank">Mr. Peerapong Rattanaburi will attend the Meeting on Exchange of Water Management Information of Irrigation System in Indonesia during 17-21 July 2017 (18/07/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_17-19_07_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 17-19 กรกฎาคม 2560 (17/07/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining-14-07-2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 14-18 กรกฎาคม 2560 (14/07/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news7.html">Mr. Manop Promdee has attended the Regional Training Program for Scaling up of Satellite-Assisted Flood Forecasting Systems in South and Southeast Asian Nations during 8-14 July 2017 (13/07/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_6-9_06_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 6-9 มิถุนายน 2560 (05/06/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="flowto.html" target="_blank">Download flowto_beta version: 0.12 (02/06/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining-2560-23-05-2560.pdf " target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในช่วงฤดูฝน ปี 2560_ข้อสั่งการจาก รมต.กษ. (23/05/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_to_protect2560.pdf" target="_blank">การเตรียมการป้องกันและแก้ไขปัญหาอุทกภัย วาตภัย และดินถล่ม ปี 2560 (22/05/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_24-29_05_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 24-29 พฤษภาคม 2560 (22/05/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/watermanagementMemory.pdf" target="_blank">หนังสือแจ้ง ผส.ชป. 1-17 เรื่อง การบริหารจัดการน้ำฤดูฝน ปี2560 (17/05/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/Suphanburi.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดสุพรรณบุรี วันที่ 18 พฤษภาคม 2560 ของ รมว.กษ. (17/05/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/watermanagementGuidelines.pdf" target="_blank">หนังสือแจ้งผู้ว่าราชการจังหวัดเรื่อง แนวทางการบริหารจัดการน้ำฤดูฝน ปี2560 (17/05/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepare_for_raining_16-19_05_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 16-19 พฤษภาคม 2560 (15/05/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/natural_devolopment_planing2560-05-03.pdf" target="_blank">ข้อมูลสำหรับการประชุมเรื่อง แผนพัฒนาแหล่งน้ำธรรมชาติขนาดใหญ่ วันที่ 8 พฤษภาคม 2560 (05/05/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/prepareLocation-010560.pdf" target="_blank">ขอให้เตรียมความพร้อมใช้งานของอาคารชลประทาน ฤดูฝนปี2560 วันที่ 1 พฤษภาคม 2560 (01/05/2017)</a> <a class="blink" style="color: red">NEW</a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news6.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดสระแก้ว วันที่ 7 เมษายน 2560 ของ รมว.กษ. (05/04/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news5.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดระยอง วันที่ 5 เมษายน 2560 ของ นรม.และคณะ (05/04/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news4.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดนครพนม วันที่ 27 มีนาคม 2560 ของ นรม.และคณะ (24/03/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/planministry.pdf" target="_blank">แผนการพัฒนาบึงขนาดใหญ่ตามนโยบายของ รมว.กษ. (10/03/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news3.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดชัยนาท วันที่ 10 มีนาคม 2560 ของ รมว.กษ. (10/03/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news2.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดปราจีนบุรี วันที่ 9 มีนาคม 2560 ของ นรม.และคณะ (08/03/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/Nakornsawan_CEO.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดนครสวรรค์ วันที่ 3 มีนาคม 2560 ของ รมว.กษ. (02/03/2017)</a> <a class="blink" style="color: red"></a></li>

						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="news1.html">A paper of Peerapong Rattanaburi et al. is to be published by THA 2017 International Conference (01/03/2017)</a> <a class="blink" style="color: red"></a></li>-->

						<!-- <a href="bulletin.html" class="hvr-shutter-in-horizontal" target="_blank">อ่านทั้งหมด</a> -->
						
						<!--<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#">Fusce consectetur tellus sed commodo</a></li>
						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#">Pellentesque egestas dolor vel sapien</a></li>
						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#">Cras a ipsum id nisl dignissim pharetra</a></li>
						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#"></a></li>
						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#"></a></li>
						<li><i class="glyphicon glyphicon-arrow-right"></i><a href="#"></a></li>-->
					</ul>
				</div>
				<!--<div class="col-md-6 product-right heading">
				<h3 class="tittle new">การจัดทำแผนการบริหารจัดการน้ำและเพาะปลูกพืชฤดูฝน ปี 2560<span></span></h3>
					<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
    padding: 10px 10px; width: 350px;
    border-radius: 25px;">
					   		<p>แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</p>         
					  		<p>แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ(ฤดูฝน) (08/03/2017)<a class="blink" style="color: red"> NEW</a></p>
					  		
					    <p><a href="planing/wet/Download.zip" class="hvr-shutter-in-horizontal" target="_blank">Download</a></p>
					   </div></center>
					</div>-->

				<!--<div class="col-md-6 product-right heading">
				<h3 class="tittle new">aaaaaaaaa<span></span></h3>
				
				<br>
				<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 350px;
				border-radius: 25px;">
				   		        
						<p>บันทึกข้อความ <a class="blink" style="color: red"  href="planing/procedure/Memorandom.pdf" target="_blank" ></a></p>				  				   		
				    	<a href="planing/wet/forCast05-06-60.pdf" class="hvr-shutter-in-horizontal" target="_blank">Download</a>
				   </div></center>
				</div>-->
				<!-- <div class="col-md-6 product-right heading">
				<h3 class="tittle new">ข้อมูลอาคารชลประทาน</h3>
				
				<br>
				<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 300px;
				border-radius: 25px;">
				   		<p>บันทึกข้อความ <a class="blink" style="color: red"  href="download/irrigation_building_memo.pdf" target="_blank" > Download</a></p>        
						<p>ตารางข้อมูลอาคารชลประทาน <a class="blink" style="color: red"  href="download/irrigation_building.xlsx" target="_blank" > Download</a></p>
				    	
				   </div></center>
				</div> -->

				<!-- <div class="col-md-6 product-right heading">
				<h3 class="tittle new">การจัดทำแผนที่เส้นทางน้ำหลากธรรมชาติ<span></span></h3>
				
				<br>
				<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 300px;
				border-radius: 25px;">
				   		        
						<p>บันทึกข้อความ <a class="blink" style="color: red"  href="download/map/Water_Flow_Map.pdf" target="_blank" > Download</a></p>
						<p>การจัดทำแผนที่เส้นทางน้ำหลากธรรมชาติ  <a class="blink" style="color: red"  href="map.html" target="_blank" > Download</a></p>	
				    
				   </div></center>
				</div> -->


				<!-- การบริหารจัดการน้ำหลากในช่วงฤดูฝนปี 2560 -->
				<!-- <div class="col-md-6 product-right heading">
				<h3 class="tittle new">การบริหารจัดการน้ำหลากในช่วงฤดูฝนปี 2560<span></span></h3>
				
				<br>
				<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 300px;
				border-radius: 25px;">
				   		        
						<p>บันทึกข้อความ <a class="blink" style="color: red"  href="planing/procedure/Memorandom.pdf" target="_blank" > Download</a></p>				  	
					  	<p>ตัวอย่างกรณีจังหวัดสุโขทัย  <a class="blink" style="color: red"  href="planing/procedure/watermanagementSukhothai.pdf" target="_blank" > Download</a></p>        
				   		
				    
				   </div></center>
				</div> -->

				<!-- <div class="col-md-6 product-right heading">
				<h3 class="tittle new">VTR โครงการ 9101 ตามรอยเท้าพ่อ ภายใต้ร่มพระบารมี เพื่อพัฒนาเกษตรอย่างยั่งยืน<span></span></h3>
				
				<br>
				<center><div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 300px;
				border-radius: 20px;">
				   		        
						<p>VTR โครงการ 9101 <a class="blink" style="color: red"  href="https://www.youtube.com/watch?v=oKci_VXC36I&feature=youtu.be" target="_blank" > link</a></p>			
				   </div></center>
				</div> -->

				</div>


				
					<!--<div class="prdt">
						<div class="col-md-6 prdt-left">
							<div class="btm-right1">
									<a href="#">
										<img src="images/p-2.jpg" alt="" class="img-responsive">
										<div class="captn1">
											<h5>Inventive Product</h5>

										</div>
									</a>
							</div>
							<a href="#"><h4>Residential Design</h4></a>
							<p>Fusce lacinia metus eget sapien ullamcorper accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						</div>
						<div class="col-md-6 prdt-left">
							<div class="btm-right1">
									<a href="#">
										<img src="images/p-1.jpg" alt="" class="img-responsive">
										<div class="captn1">
											<h5>Inventive Product</h5>

										</div>
									</a>
							</div>
							<a href="#"><h4>Office Design</h4></a>
							<p>Fusce lacinia metus eget sapien ullamcorper accumsan. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>-->
				<!-- <div class="clearfix"></div> -->
			</div>
		</div>
