<div class="client" style="background-color: #A6CCD5;">
	<div class="container">
		<div class="product" id="product">
			<div class="container">
				<div class="product-top">

					<div class="col-md-8 product-right heading" style="width: 100%">
						<h3 class="tittle new">
							<span>เอกสารสำหรับจัดทำแผนบริหารจัดทำน้ำและเพาะปลูกพืชฤดูฝนปี พ.ศ. 2561 และ แผนป้องกันและบรรเทาภัยอันเกิดจากน้ำฤดูฝน พ.ศ.
								2561</span>
						</h3>
						<div style="font-size: small;">
							<a>(07/03/2018) </a>
							<a class="blink" style="color: red">NEW</a>
						</div>

						<center>
							<div class="container" style="background: #dddddd;border: 2px solid #a1a1a1;
				padding: 10px 10px; width: 300px;
				border-radius: 25px;">
								<p style="font-size: x-large;">
									<a class="blink" style="color: red" href="download/Document_for_manage_water_in_summer_and_rain_2561.rar" target="_blank">
									Download</a>
								</p>
							</div>
						</center>
						<br>
						<br>
					</div>

					<!--<div class="col-md-8 product-right heading" style="width: 100%">
			<h3 class="tittle new"><span>แผนการเตรียมความพร้อมของเครื่องจักร-เครื่องมือ วัสดุและอุปกรณ์ ฤดูฝน</span></h3>
			<div style="font-size: small;"><a >(08/03/2018) </a><a class="blink" style="color: red">NEW</a></div>

				<blockquote style="margin-left: 3em">
					<ul>
					  <li>ตารางแผนการเตรียมความพร้อมของเครื่องจักร-เครื่องมือ วัสดุและอุปกรณ์ ฤดูฝน ปี 2561 กรมป้องกันและบรรเทาสาธารณภัย <a class="blink" style="color: red"  href="planing/prepare_Department_of_Disaster_Prevention_and_Mitigation.xls" target="_blank" > Download</a></li>
					  <li>
					  	ตารางแผนการเตรียมความพร้อมของเครื่องจักร-เครื่องมือ วัสดุและอุปกรณ์ ฤดูฝน ปี 2561 กรุงเทพมหานคร
					  	<a class="blink" style="color: red"  href="planing/prepare_bangkok.xls" target="_blank" >
					  		Download
					  	</a>
					  </li>
					  <li>
					  	ตารางแผนการเตรียมความพร้อมของเครื่องจักร-เครื่องมือ วัสดุและอุปกรณ์ ฤดูฝน ปี 2561 กรมทรัพยากรน้ำ
					  	<a class="blink" style="color: red"  href="planing/prepare_Department_of_Water_Resources.xls" target="_blank" >
					  		Download
					  	</a>
					  </li>
					</ul>
				</blockquote>
				   <br><br>
			</div>-->

					<div class="col-md-8 product-right heading" style="width: 100%">
						<h3 class="tittle new">
							<span>แบบฟอร์มสถานการณ์พื้นที่รับน้ำเข้าทุ่งลุ่มน้ำเจ้าพระยา ท้ายจังหวัดนครสวรรค์</span>
						</h3>
						<div class="prdt">
							<div class="col-md-6 prdt-left">
								<div class="btm-right1">
									<a href="https://docs.google.com/spreadsheets/d/1WqrQbKiVF7qN5FJ7rqRBu3MESjmevttHKnmkbfvorOw/edit?usp=sharing" target="_blank">
										<img src="images/icon/field.JPG" class="img-responsive">
										<div class="captn1">
											<p>สถานการณ์พื้นที่รับน้ำเข้าทุ่ง</p>
										</div>
									</a>
								</div>
								<br>
								<a href="https://docs.google.com/spreadsheets/d/1P0HkaOYQQEw2eG0xM2U6aIhUdE1nwic555-NvQ5GoS0/edit?usp=sharing" class="hvr-shutter-in-horizontal"
								 target="_blank"> กรอกข้อมูล Google sheet (ยกเลิก)</a>
								<br>
								<br>
								<a href="https://docs.google.com/spreadsheets/d/1WqrQbKiVF7qN5FJ7rqRBu3MESjmevttHKnmkbfvorOw/edit?usp=sharing" class="hvr-shutter-in-horizontal"
								 target="_blank"> การระบายน้ำออกจากทุ่ง</a>

							</div>

							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>