<div class="banner-bottom">
  <!--//screen-gallery-->
      <div class="sreen-gallery-cursual">
         <!-- required-js-files-->
        <link href="css/owl.carousel.css" rel="stylesheet">
            <script src="js/owl.carousel.js"></script>
                <script>
            $(document).ready(function() {
              $("#owl-demo").owlCarousel({
                items :5,
                lazyLoad : true,
                autoPlay : true,
                navigation :true,
                navigationText :  false,
                pagination : true,
              });
            });
            </script>
           <!--//required-js-files-->
             <div id="owl-demo" class="owl-carousel">
               <div class="item-owl">
                  <div class="test-review">
                    <a  href="#planwet">
                      <img src="images/icon/c1.jpg" class="img-responsive" alt=""/></a>
                      <h5>แผนการบริหารจัดการทรัพยากรน้ำฤดูฝน</h5>
                  </div>
              </div>
               <div class="item-owl">
                <div class="test-review">
                  <a  href="#plandry">
                    <img src="images/icon/c2.jpg" class="img-responsive" alt=""/></a>
                    <h5>แผนป้องกันและแก้ไขภาวะน้ำท่วม</h5>
                </div>
              </div>
               <div class="item-owl">
                <div class="test-review">
                  <a  href="#planprotect">
                    <img src="images/icon/c3.jpg" class="img-responsive" alt=""/></a>
                    <h5>แผนการบริหารจัดการทรัพยากรน้ำฤดูแล้ง</h5>
                </div>
              </div>
              <!-- <div class="item-owl">
                <div class="test-review">
                  <a  href="http://water.rid.go.th/hwm/swq/sediment/" target="_blank">
                    <img src="images/icon/c4.jpg" class="img-responsive" alt=""/></a>
                    <h5>ค่าความเค็มแม่น้ำเจ้าพระยา</h5>
                </div>
              </div> -->
               <!-- <div class="item-owl">
                <div class="test-review">
                  <a  href="http://hydromet.tmd.go.th/Monitor/Forecast.aspx" target="_blank">
                    <img src="images/icon/c5.jpg" class="img-responsive" alt=""/></a>
                    <h5>สถานการณ์น้ำฝนราย 3 ชม</h5>
                </div>
              </div> -->
               <!-- <div class="item-owl">
                <div class="test-review">
                  <a  href="http://water.rid.go.th/hydrology/NormalReport/NormalReport.html" target="_blank">
                    <img src="images/icon/c6.jpg" class="img-responsive" alt=""/></a>
                    <h5>สถานการณ์น้ำท่วมในช่วงวิกฤติ</h5>
                </div>
              </div> -->
             <!-- <div class="item-owl">
              <div class="test-review">
                <a  href="http://hydromet.tmd.go.th/Monitor/Forecast.aspx" target="_blank">
                  <img src="images/icon/c7.jpg" class="img-responsive" alt=""/></a>
                  <h5>แผนที่แสดงเครื่องสูบน้ำในเขตชลประทาน</h5>
              </div>
            </div> -->
            <!-- <div class="item-owl">
                          <div class="test-review">
                          <a  href="http://hydromet.tmd.go.th/Monitor/Forecast.aspx" target="_blank">
                          <img src="images/icon/c8.jpg"  class="img-responsive" alt=""/></a>
                  <h5>การคาดการณ์และแนวโน้มสถานการณ์น้ำท่า</h5>
                          </div>
                    </div> -->
                     <!-- <div class="item-owl">
                        <div class="test-review">
                          <a  href="http://hydromet.tmd.go.th/Monitor/Forecast.aspx" target="_blank">
                          <img src="images/icon/c9.jpg" class="img-responsive" alt=""/></a>
                  <h5>สรุปสถานการณ์น้ำ</h5>
                          </div>
                    </div> -->

                </div>
      <!--//screen-gallery-->

    </div>
</div>
