<!-- about-type-grid -->
<div class="about" id="about">
  <div class="row">
      <div class="col-md-5 ab-left">
        <div class="btm-right" style="height: auto;">
          <a href="planing/wet/forCast/forCast07-03-61.pdf" target="_blank">
          <img src="images/icon/forcast.jpg" class="img-responsive">
            <div class="captn">
              <p style="font-size: 25px;">การคาดการณ์น้ำในอ่างเก็บน้ำขนาดใหญ่ <br> 35 อ่าง ปี 2561</p>
            </div>
          </a>
        </div>
      </div>
 
      <div class="col-md-7 ab-right">
        <div class="col-bottom two">
          <h2 class="tittle">การคาดการณ์ <span>สถานการณ์</span> น้ำ</h2>
          <h4>ในอ่างเก็บน้ำขนาดใหญ่ </h4>
          <p>โปรแกรมสั่งการและจัดการ การทำงานของโปรแกรมประเมินสภาพน้ำในอ่างเก็บน้ำ (Reservoir Operation Simulation System Commander and Management Tool Program) หรือเรียกชื่อย่อว่า ROS Tool เป็นโปรแกรมสำเร็จรูปที่ถูกพัฒนาขึ้นมาใหม่ โดยสำนักวิจัยและพัฒนาร่วมกับสำนักบริหารจัดการน้ำและอุทกวิทยา ใช้โปรแกรมภาษา Visual Basic 6.0 ทำงานบนระบบปฏิบัติการ Windows 7 เพื่อใช้สั่งให้ “โปรแกรมชุดคำสั่งและฟังก์ชั่น (Reservoir Operation Simulation) เรียกชื่อย่อว่า ROS”</p>
          <a href="planing/wet/forCast/forCast07-03-61.pdf" class="hvr-shutter-in-horizontal" target="_blank">การคาดการณ์น้ำในอ่างเก็บน้ำขนาดใหญ่ 35 อ่าง ปี 2561</a>
        </div>
      </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- //about-type-grid -->
