{%extends "_base2.html"%} {%block details%}

<div class="container">

  <div class="bs-docs-example">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <h4>เรื่อง</h4>
          </th>
          <th>
            <h4>วันที่</h4>
          </th>
        </tr>
      </thead>
      <tbody>
        <div class="pagnation">
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/raining_southern26-28_12_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 26 - 28 ธันวาคม 2560 </a>
                <a class="blink" style="color: red">NEW</a>
              </td>
              <td>25/12/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/raining_southern22-25_12_2560.PDF" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 22 - 25 ธันวาคม 2560 </a>
                <a class="blink" style="color: red">NEW</a>
              </td>
              <td>21/12/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="unitschool.html" target="_blank">การจัดการเรียนการสอนภายในหน่วยงาน (Unit School) </a>
                <a class="blink" style="color: red">NEW</a>
              </td>
              <td>20/12/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_28-11_1-12_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 28 พฤศจิกายน - 1 ธันวาคม 2560 </a>
              </td>
              <td>27/11/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/2560.10.30-alert_southern_thailand.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในภาคใต้ ช่วงวันที่ 30 ตุลาคม - 4 พฤศจิกายน 2560 </a>
              </td>
              <td>30/10/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news10.html" target="_blank">Mr. Somchok Chaisawat, Irrigation Engineer Practitioner Level, Water Allocation Branch 2 (WAB2), has attended
                  the training course under the Japan Science and Technology Agency (JST)’s SAKURA Exchange Program in Science
                  </a>
              </td>
              <td>16/10/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_9-11_10_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 9 - 11 ตุลาคม 2560 </a>
              </td>
              <td>10/10/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_location06-10-2560.pdf" target="_blank">ขอให้ตรวจสอบสภาพความพร้อมใช้งานของอาคารชลประทานเพื่อเตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป </a>
              </td>
              <td>06/10/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_2-6_10_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 2 - 6 ตุลาคม 2560 </a>
              </td>
              <td>03/10/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_14-18_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 14 - 18 กันยายน 2560 </a>
              </td>
              <td>14/09/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_11-17_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 11 - 17 กันยายน 2560 </a>
              </td>
              <td>12/09/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_4-10_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 4 - 10 กันยายน 2560 </a>
              </td>
              <td>05/09/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_28_08_2560-2_09_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 28 สิงหาคม 2560 - 2 กันยายน 2560 </a>
              </td>
              <td>28/08/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_25-31_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 25-31 สิงหาคม 2560 </a>
              </td>
              <td>25/08/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_21-28_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 21-28 สิงหาคม 2560 </a>
              </td>
              <td>21/08/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_15-22_08_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 15-22 สิงหาคม 2560</a>
              </td>
              <td>15/08/2017</td>
            </tr>
          </div>

          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_location07-08-2560.pdf" target="_blank">ขอให้ตรวจสอบสภาพความพร้อมใช้งานของอาคารชลประทานเพื่อเตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป </a>
              </td>
              <td>07/08/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_water_situation.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์น้ำในระยะต่อไป </a>
              </td>
              <td>01/08/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_25-28_07_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 25-28 กรกฎาคม 2560 </a>
              </td>
              <td>25/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news9.html" target="_blank">Mr. Chaowalit will perform workshop on Innovative Water Resource Management in IR Iran during 22-26 July
                  2017 </a>
              </td>
              <td>21/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/situation_of_Yom_river.pdf" target="_blank">สถานการณ์น้ำและการบริหารจัดการน้ำลุ่มน้ำยม </a>
              </td>
              <td>18/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news8.html" target="_blank">Mr. Peerapong Rattanaburi will attend the Meeting on Exchange of Water Management Information of Irrigation
                  System in Indonesia during 17-21 July 2017 (18/07/2017) </a>
              </td>
              <td>18/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_17-19_07_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 17-19 กรกฎาคม 2560 </a>
              </td>
              <td>17/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining-14-07-2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 14-18 กรกฎาคม 2560</a>
              </td>
              <td>14/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news7.html" target="_blank">Mr. Manop Promdee has attended the Regional Training Program for Scaling up of Satellite-Assisted Flood Forecasting
                  Systems in South and Southeast Asian Nations during 8-14 July 2017</a>
              </td>
              <td>13/07/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_6-9_06_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 6-9 มิถุนายน 2560</a>
              </td>
              <td>05/06/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="flowto.html" target="_blank">Download flowto_beta version: 0.121</a>
              </td>
              <td>02/06/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining-2560-23-05-2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักในช่วงฤดูฝน ปี 2560_ข้อสั่งการจาก รมต.กษ.</a>
                </a>
              </td>
              <td>23/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_to_protect2560.pdf" target="_blank">การเตรียมการป้องกันและแก้ไขปัญหาอุทกภัย วาตภัย และดินถล่ม ปี 2560 </a>
              </td>
              <td>22/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_24-29_05_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 24-29 พฤษภาคม 2560 </a>
              </td>
              <td>22/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/watermanagementMemory.pdf" target="_blank">หนังสือแจ้ง ผส.ชป. 1-17 เรื่อง การบริหารจัดการน้ำฤดูฝน ปี2560 </a>
              </td>
              <td>17/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/Suphanburi.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดสุพรรณบุรี วันที่ 18 พฤษภาคม 2560 ของ รมว.กษ. </a>
              </td>
              <td>17/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/watermanagementGuidelines.pdf" target="_blank">หนังสือแจ้งผู้ว่าราชการจังหวัดเรื่อง แนวทางการบริหารจัดการน้ำฤดูฝน ปี2560 </a>
              </td>
              <td>17/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepare_for_raining_16-19_05_2560.pdf" target="_blank">ขอให้เตรียมความพร้อมรับสถานการณ์ฝนตกหนักช่วงวันที่ 16-19 พฤษภาคม 2560 </a>
              </td>
              <td>15/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/natural_devolopment_planing2560-05-03.pdf" target="_blank">ข้อมูลสำหรับการประชุมเรื่อง แผนพัฒนาแหล่งน้ำธรรมชาติขนาดใหญ่ วันที่ 8 พฤษภาคม 2560 </a>
              </td>
              <td>05/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/prepareLocation-010560.pdf" target="_blank">ขอให้เตรียมความพร้อมใช้งานของอาคารชลประทาน ฤดูฝนปี2560 วันที่ 1 พฤษภาคม 2560 </a>
              </td>
              <td>01/05/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news6.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดสระแก้ว วันที่ 7 เมษายน 2560 ของ รมว.กษ. </a>
              </td>
              <td>05/04/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news5.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดระยอง วันที่ 5 เมษายน 2560 ของ นรม.และคณะ </a>
              </td>
              <td>05/04/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news4.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดนครพนม วันที่ 27 มีนาคม 2560 ของ นรม.และคณะ </a>
              </td>
              <td>24/03/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/planministry.pdf" target="_blank">แผนการพัฒนาบึงขนาดใหญ่ตามนโยบายของ รมว.กษ. </a>
              </td>
              <td>10/03/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news3.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดชัยนาท วันที่ 10 มีนาคม 2560 ของ รมว.กษ. </a>
              </td>
              <td>10/03/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news2.html" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดปราจีนบุรี วันที่ 9 มีนาคม 2560 ของ นรม.และคณะ </a>
              </td>
              <td>08/03/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="planing/Nakornsawan_CEO.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดนครสวรรค์ วันที่ 3 มีนาคม 2560 ของ รมว.กษ. </a>
              </td>
              <td>02/03/2017</td>
            </tr>
          </div>
          <div class="bulletinlist">
            <tr>
              <td>
                <a href="news1.html">A paper of Peerapong Rattanaburi et al. is to be published by THA 2017 International Conference</a>
              </td>
              <td>01/03/2017</td>
            </tr>
          </div>
      </tbody>
    </table>
    </div>
  </div>


  <!--<nav>
			  <ul class="pagination">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
			 </ul>
		   </nav>-->


  {%endblock%}