{%extends "_base2.html"%}
{%block details%}
	 <!--/contact-->
	 <div class="section contact" id="contact">
 		<div class="container">
 			<div class="product-top">
 				<div class="col-md-4 product-left heading">
 					<h3 class="tittle new"> <span>ติดต่อเรา</span></h3>
 						<h4>กองบริหารจัดการลุ่มน้ำ สำนักงานทรัพยากรน้ำแห่งชาติ</h4>
 							<ul>
 							<li>59 ถนนพิษณุโลก แขวงดุสิต</li>
 							<li>กรุงเทพมหานคร 10300</li>
 							<li>โทร:02-2288-6032, 02-2288-6033 </li>
 							<li><a href="rbmd.onwr@gmail.com">rbmd.onwr@gmail.com</a></li>
 							</ul>
 					</div>

 				<div class="col-md-8 product-right heading">
						<h3 class="tittle new"> <span>แผนที่</span></h3>
 					<div class="btm-right1 map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">

						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3875.243492165967!2d100.5120761!3d13.7641846!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2994401418cd7%3A0x63254def5f869791!2z4Liq4Liz4LiZ4Lix4LiB4LiH4Liy4LiZ4LiX4Lij4Lix4Lie4Lii4Liy4LiB4Lij4LiZ4LmJ4Liz4LmB4Lir4LmI4LiH4LiK4Liy4LiV4Li0!5e0!3m2!1sth!2sth!4v1522046776938" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 					</div>
 					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
		<!--//contact-->
{%endblock%}
