{%extends "_base2.html"%} {%block details%}
<div class="product" id="product">
    <div class="container">

        <div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
            <h3 class="tittle">บุคลากรในหน่วยงาน</h3>
            <!-- หัวหน้าฝ่ายจัดสรรน้ำ -->
            <div class="col-md-12 product-right heading" style="margin-bottom: 1em">
                <h3 class="bars">ผู้อำนวยการกอง</h3>

                <div class="prdt">
                    <div class="col-md-3 prdt-left">
                        <div class="btm-right1">
                            <img src="images/staff2/PreechaSookglam.jpg" alt="" class="img-thumbnail">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <br>
                        <br>
                        <br>
                        <p style="font-size: 30px">นายปรีชา สุขกล่ำ
                            <br>ผู้อำนวยการกองบริหารจัดการลุ่มน้ำ
                        </p>
                    </div>
                </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#prof" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">ผู้เชี่ยวชาญ</a>
                    </li>
                    <li role="presentation">
                        <a href="#human" role="tab" id="profile-tab" data-toggle="tab" aria-controls="human">ฝ่ายบริหารทั่วไป</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">กลุ่มบริหารจัดการลุ่มน้ำ 1</a>
                    </li>
                    <li role="presentation">
                        <a href="#water2" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water2">กลุ่มบริหารจัดการลุ่มน้ำ 2</a>
                    </li>
                    <li role="presentation">
                        <a href="#water3" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water3">กลุ่มบริหารจัดการลุ่มน้ำ 3</a>
                    </li>
                    <li role="presentation">
                        <a href="#water4" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water4">กลุ่มบริหารจัดการลุ่มน้ำ 4</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="prof" aria-labelledby="home-tab">

                        <!-- ผู้อำนวยการ -->
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">ผู้เชี่ยวชาญ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>ผู้เชี่ยวชาญด้านบริหารจัดการลุ่มน้ำ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>ผู้เชี่ยวชาญด้านบริหารจัดการลุ่มน้ำ</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>ผู้เชี่ยวชาญด้านบริหารจัดการลุ่มน้ำ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- staff -->
                    <div role="tabpanel" class="tab-pane fade" id="human" aria-labelledby="human">
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">นักจัดการงานทั่วไป</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักจัดการงานทั่วไป
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักจัดการงานทั่วไป</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักจัดการงานทั่วไป</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">พนักงานราชการ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" style="width: 243.75px; height: 303.81px" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>พนักงานธุรการ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">ลูกจ้างชั่วคราว</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/SudapornSanggorn.jpg" style="width: 243.75px; height: 303.81px" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นางสาวสุดาภรณ์ สังข์กร
                                            <br> เจ้าหน้าที่วิเคราะห์นโยบายและแผน
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๑ -->
                    <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">วิศวกรชลประทาน</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/lerdphan.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายเลิศพันธ์ สุขยิรัญ
                                            <br> วิศวกรชลประทานชำนาญการพิเศษ
                                            <br>ปฏิบัติหน้าที่ผู้อำนวยการกลุ่มบริหารจัดการลุ่มน้ำ 1 (กบ.บน.1)
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/SongkiatKhamtong.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายทรงเกียรติ ขำทอง
                                            <br>วิศวกรชลประทานชำนาญการ
                                            <br>ปฏิบัติหน้าที่ที่กลุ่มบริหารจัดการลุ่มน้ำ 1
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">พนักงานราชการ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทาน</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักวิชาการคอมพิวเตอร์</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๑ -->

                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๒ -->
                    <div role="tabpanel" class="tab-pane fade" id="water2" aria-labelledby="profile-tab">
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">วิศวกรชลประทาน</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Patchawee.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นางพัชรวีร์ สุวรรณิก
                                            <br>วิศวกรชลประทานชำนาญการพิเศษ
                                            <br>ปฏิบัติหน้าที่ผู้อำนวยการกลุ่มบริหารจัดการลุ่มน้ำ 2 (กบ.บน.2)</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Avison.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายเอวิสันต์ กู้เกียรติศักดิ์
                                            <br>วิศวกรชลประทานชำนาญการ
                                            <br>ปฏิบัติหน้าที่ที่กลุ่มบริหารจัดการลุ่มน้ำ 2
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">พนักงานราชการ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทาน</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักวิชาการคอมพิวเตอร์</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๒ -->

                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ 3 -->
                    <div role="tabpanel" class="tab-pane fade" id="water3" aria-labelledby="profile-tab">
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">วิศวกรชลประทาน</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Thammapong.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายธรรมพงศ์ เนาวบุตร
                                            <br>วิศวกรโยธาชำนาญการพิเศษ
                                            <br>ปฏิบัติหน้าที่ผู้อำนวยการกลุ่มบริหารจัดการลุ่มน้ำ 3 (กบ.บน.3)</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Wichet.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายวิเชษฐ์ อำนวยพร
                                            <br>วิศวกรปฏิบัติการ
                                            <br>ปฏิบัติหน้าที่ที่กลุ่มบริหารจัดการลุ่มน้ำ 3
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">พนักงานราชการ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทาน</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นักวิชาการคอมพิวเตอร์</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ 3 -->

                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๔ -->
                    <div role="tabpanel" class="tab-pane fade" id="water4" aria-labelledby="profile-tab">
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">วิศวกรชลประทาน</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Sathaporn.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายสถาพร รักชีพ
                                            <br>วิศวกรโยธาชำนาญการ
                                            <br>ปฏิบัติหน้าที่ผู้อำนวยการกลุ่มบริหารจัดการลุ่มน้ำ 4 (กบ.บน.4)</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการพิเศษ</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/Patarapol.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>นายภัทรพล เอี่ยมสะอาด
                                            <br>วิศวกรโยธาปฏิบัติการ
                                            <br>ปฏิบัติหน้าที่ที่กลุ่มบริหารจัดการลุ่มน้ำ 4
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทานชำนาญการ
                                        </p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 product-right heading">
                            <h3 class="bars">พนักงานราชการ</h3>

                            <div class="prdt">
                                <div class="col-md-3 prdt-left">
                                    <div class="btm-right1">
                                        <img src="images/staff2/man.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <center>
                                        <p>วิศวกรชลประทาน</p>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- กลุ่มบริหารจัดการลุ่มน้ำ ๔ -->
                </div>
            </div>

        </div>
    </div>
    <!-- /container -->
</div>
<!-- /product -->

{%endblock%}