<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flowto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br/>
  <div class="jumbotron">
  <h1 class="display-3">Flowto</h1>
  <!--<p class="lead">Flowto version</p>--> 

   <table class="table table-hover">
              <thead>
                <tr>
            
                </tr>
              </thead>
              <tbody>
              <div class="bulletinlist">
                <tr>
                  <td><a href="flowto/flowto_beta0.14.zip" target="_blank">flowto_beta version: 0.14 </a> <a class="blink" style="color: red">NEW UPDATE</a></td> 
                </tr>
               </div>
              <div class="bulletinlist">
                <tr>
                  <td><a href="flowto/flowto_beta0.13.zip" target="_blank">flowto_beta version: 0.13 </a> <a class="blink" style="color: red"></a></td> 
                </tr>
               </div>
              <div class="bulletinlist">
                <tr>
                  <td><a href="flowto/flowto_beta0.12.zip" target="_blank">flowto_beta version: 0.12 </a></td>
                </tr>
               </div>
              <div class="bulletinlist">
                <tr>
                  <td><a href="flowto/manaul_Flowto_beta_0.121.pdf" target="_blank">คู่มือการใช้งานflowto Application </a></td>
                </tr>
               </div>
               <div class="bulletinlist">
                <tr>
                  <td><a href="flowto/Install_flowto_Application(update06-06-2560).pdf" target="_blank">ขั้นตอนการดาวน์โหลดและติดตั้ง flowto Application </a></td>
                </tr>
                </div>
                
              </tbody>
            </table>
</div>
</div>





</body>
</html>