{%extends "_base1.html"%}

{%block content1%}
  {%include "_content1.html"%}
  {%include "_content5.html"%}
  {%include "planing.html"%}
{%endblock%}
{%block content2%}
  <!--/contact-->
  <div class="section contact" id="contact"  style="background-color: #DEE2E3;">
    <div class="container">
      <div class="product-top">
        <div class="col-md-4 product-left heading">
          <h3 class="tittle new">
            <span>ติดต่อเรา</span>
          </h3>
          <h4>กองบริหารจัดการลุ่มน้ำ สำนักงานทรัพยากรน้ำแห่งชาติ</h4>
          <ul>
            <li>59 ถนนพิษณุโลก แขวงดุสิต</li>
            <li>กรุงเทพมหานคร 10300</li>
            <li>โทร:02-2288-6032, 02-2288-6033 </li>
            <li>
              <a href="rbmd.onwr@gmail.com">rbmd.onwr@gmail.com</a>
            </li>
          </ul>
        </div>
  
        <div class="col-md-8 product-right heading">
          <h3 class="tittle new">
            <span>แผนที่</span>
          </h3>
          <div class="btm-right1 map wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".5s">
  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.217221066394!2d100.50898715775932!3d13.787812583853652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29be6b3487a57%3A0xca284ebdb800c0c5!2sRoyal+Irrigation+Department+Ministry+of+Agriculture+and+Cooperatives!5e0!3m2!1sen!2sth!4v1490669954519">
            </iframe>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!--//contact-->
  
  {%endblock%}