{%extends "_base2.html"%}
{%block details%}
<div class="container">
<div class="bs-docs-example">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th><h3 class="tittle new">การจัดทำแผนที่เส้นทางน้ำหลากธรรมชาติ</h3></th>
	    </tr>
	  </thead>
	  <tbody>
	  <div>
	    <tr>
	      <td><a href="download/map/SakonNakhon.zip" target="_blank">ตัวอย่างแผนที่แสดงทิศทางการไหลของน้ำ และทิศทางน้ำหลาก จังหวัดสกลนคร</a></td>
	    </tr>
	  </div>


	  <div>
	    <tr>
	      <td><a href="download/map/Central_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคกลาง </a></td>
	    </tr>
	  </div>

	  <div>
	    <tr>
	      <td><a href="download/map/Western_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคตะวันตก </a></td>
	    </tr>
	  </div>

	  <div>
	    <tr>
	      <td><a href="download/map/Eastern_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคตะวันออก </a></td>
	    </tr>
	  </div>

	  <div>
	    <tr>
	      <td><a href="download/map/Northeastern_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคตะวันออกเฉียงเหนือ </a></td>
	    </tr>
	  </div>

	  <div>
	    <tr>
	      <td><a href="download/map/Northern_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคเหนือ </a></td>
	    </tr>
	  </div>

	  <div>
	    <tr>
	      <td><a href="download/map/Southern_Thailand_Map.zip" target="_blank">แผนที่ตั้งต้น(Basemap) ภาคใต้ </a></td>
	    </tr>
	  </div>

      </tbody>
  	</table>
</div>
</div>



{%endblock%}


