{%extends "_base2.html"%} {%block details%}
<div class="product" id="product">
	<div class="container">

		<div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
			<h3 class="tittle">เกี่ยวกับองค์กร</h3>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">กองบริหารจัดการลุ่มน้ำ</a>
					</li>
					<li role="presentation">
						<a href="#human" role="tab" id="profile-tab" data-toggle="tab" aria-controls="human">ฝ่ายบริหารงานทั่วไป</a>
					</li>
					<li role="presentation">
						<a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">กลุ่มบริหารจัดการลุ่มน้ำ 1</a>
					</li>
					<li role="presentation">
						<a href="#water2" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water2">กลุ่มบริหารจัดการลุ่มน้ำ 2</a>
					</li>
					<li role="presentation">
						<a href="#water3" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water3">กลุ่มบริหารจัดการลุ่มน้ำ 3</a>
					</li>
					<li role="presentation">
						<a href="#water4" role="tab" id="profile-tab" data-toggle="tab" aria-controls="water4">กลุ่มบริหารจัดการลุ่มน้ำ 4</a>
					</li>
				</ul>

				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						<div style="background-color: #efefef !important">
							<br>
							<br>
							<h3>กองบริหารจัดการลุ่มน้ำ มีอำนาจหน้าที่ ดังนี้</h3>
							<div class="container">
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ข้อมูลบริหารจัดการระบบสารสนเทศทัพยากรน้ำ และวางแผนบริหารจัดการทรัพยากรน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> กำหนดกรอบหลักเกณฑ์ และแนวทางการบริหารจัดการทรัพยากรน้ำข้ามลุ่มน้ำ และกำหนดแนวทาง การจัดสรรทรัพยากรน้ำภาพรวมของประเทศ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> เสนอแนะนโยบาย และมาตรการในการบริหารจัดการทรัพากรน้ำในภาวะวิกฤติ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> อำนวยการและกำกับการบริหารจัดการทรัพยากรน้ำให้เป้นไปตามนโยบาย แผนยุทธศาสตร์ และแผนแม่บท เกี่ยวกับการบริหารจัดการทรัพยากรน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ประสาน ช่วยเหลือ สนับสนุนและให้คำแนะนำแก่คณะกรรมลุ่มน้ำ หน่วยงานของรัฐและองค์การปกครองส่วนท้องถิ่นเกี่ยวกับการบริหารจัดการลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือที่ได้รับมอบหมาย</a>
								</p>
							</div>
						</div>
					</div>

					<!-- staff -->
					<div role="tabpanel" class="tab-pane fade" id="human" aria-labelledby="human">
						<div style="background-color: #efefef !important">
							<br>
							<br>
							<h3>ฝ่ายบริหารงานทั่วไป มีอำนาจหน้าที่ ดังนี้</h3>
							<div class="container">
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำกับ ควบคุม ตรวจสอบ การบริหารจัดการภายใน และการบริหารทั่วไป ฝ่ายงานสารบรรณรับ-ส่ง กลั่นกรอง ร่าง
										พิมพ์ หนังสือ และเอกสารราชการ กลั่นกรองงาน สรุปเสนอผู้บริหาร
										<br>จัดเก็บ ทำลายเอกสาร ร่างโต้ตอบหนังสือราชการ ควบคุมและดำเนินการงานด้านข้อมูลทะเบียนข่าวสาร ข้อมูลรับของหน่วยงาน
										เพื่อให้การปฏิบัติงานมีความถูกต้องตามระเบียบที่เกี่ยวข้อง
										<br>และเป็นไปตามตราฐาน</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน กำกับดูแล การบริหารทรัพยากรบุคคลของสำนักงานเลขสานุการกรม การวิเคราะห์โครงสร้างและอัตรากำลัง
										การสรรหา บรรจุ แต่งตั้ง โอน ย้าย ลาออก
										<br>สรุปการตรวจสอบหนี้สินของผู้รับบำเน็จบำนาญ การสรุปผลการเลื่อนเงินเดือน ค่าจ้าง และการเลื่อนค่าตอบแทน การดำเนินการด้านเครื่องราชอรอนาภรณ์
										การเสริมสร้างวินัยและระบบคุณธรรม
										<br>การพัฒนาบุคลากร การจัดการความรู้</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา กำกับ ดูแล ควบคุม ตรวจสอบ งานการเงินและบัญชี การจัดทำบัญชี การเบิกจ่ายเงิน การจัดทำคำขอและควบคุมงบประมาณ การจัดทำรายงานสถานะทางการเงิน
										<br>การบริหารจัดการต้นทุนผลผลิตของสำนักงานเลขานุการกรม ให้เป้นไปตามระเบียบและข้อกำหนดของกฎหมาย</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา กำกับ ดูแล ควบคุม ตรวจสอบ งานพัสดุ การจัดซื้อ จัดจ้าง การบริหารสัญญา การจัดทำบัญชัพัสดุ การจัดทำทะเบียน การเบิกจ่าย
										การควบคุมบัญชีครุภัณฑ์ การบริหารจัดคลังพัสดุ
										<br>การจำหน่าย และการบริหารสินทรัพย์ของสำนักงานเลขานุการกรม</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำกับ ดูแล การจัดทำแผนปฏิบัติราชการปีและติดตามประเมินผลการปฏิบัติงานของหน่วยงาน เพื่อให้การดำเนินงานบรรลุวัตถุประสงค์และแผนที่กำหนด</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำกับ ดูแล การบริหารความเสี่ยงและการควบคุมภายในของหน่วยงาน</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือได้รับมอหมายเพื่อให้การดำเนินงานเป็นไปตามเป้าหมาย</a>
								</p>
							</div>
						</div>
					</div>

					<!-- หน้าที่ความรับผิดชอบ -->
					<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
						<div style="background-color: #efefef !important">
							<br>
							<br>
							<h3>กลุ่มบริหารจัดการลุ่มน้ำ 1 มีอำนาจหน้าที่ ดังนี้</h3>
							<div class="container">
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำกับดูแล การบริหารจัดการทรัพยากรน้ำ ยุทธศาสตร์ ระบบสารสนเทศทรัพยากรน้ำ ในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดนโยบาย หลักเกณฑ์ ยุทธศาสตร์การบริหารจัดทรัพยากรน้ำ การบริหารจัดทรัพยากรข้ามลุ่มน้ำ การผันน้ำระหว่างลุ่มน้ำ
										ทั้งในภาวะปกติและภาวะวิกฤติให้เหมาะสม
										<br>ในแต่ละภาคส่วน</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดเกณฑ์ กำกับดูแล การบริหารจัดทรัพยากรน้ำระหว่างน้ำบนดิน และน้ำใต้ดิน ให้เหมาะสม</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ และกำหนดพื้นที่เสี่ยงภัย การเตือนภัยอันเกิดจากน้ำ และจัดทำแผน การป้องกัน และบรรเทาภัยอันเกิดจากน้ำ
										ในพื้นที่เสี่ยงอย่างเป็นระบบ
									</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ประเมินปริมาณน้ำหลากและการจัดการน้ำท่วมและระบายน้ำ ด้วยแบบจำลองและระบบสนับสนุนกาตัดสินใจในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำหนดนโยบาย ในการฟื้นฟูและอนุรักษ์ทรัพยากรน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> กำกับ ดูแล ติดตาม ประสาน ตวามช่วยเหลือ สนับสนุนและให้คำแนะนำแก่คณะกรรมการลุ่มน้ำหน่วยงานรัฐ และองค์กรปกครองส่วนท้องถิ่นเกี่ยวกับการบริหารจัดการน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ควบคุม กำกับ นโยบา และให้ข้อเสนอแนะและการบริหารจัดการทรัพยากรน้ำ เพื่อให้หน่วยงานรับผิดชอบดำเนินการตามที่กำหนด</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ตรวจสอบติดตามและประเมินผลการพัฒนา และบริหารจัดการทรัพยากรน้ำในระดับลุ่มน้ำ ต่อศูนย์อำนวยการน้ำแห่งชาติ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือได้รับมอหมายเพื่อให้การดำเนินงานเป็นไปตามเป้าหมาย</a>
								</p>
								<p>
									<a>*** กลุ่มบริหารจัดการลุ่มน้ำ 1 รับผิดชอบพื้นที่ กลุ่มลุ่มน้ำเจ้าพระนาใหญ่ ประกอบด้วย ปิง วัง ยม น่าน ป่าสัก สะแกกรัง
										เจ้าพระยา ท่าจีน</a>
								</p>
							</div>
						</div>
					</div>
					<!-- /หน้าที่ความรับผิดชอบ -->

					<div role="tabpanel" class="tab-pane fade in active" id="water2" aria-labelledby="home-tab">
						<div style="background-color: #fafafa !important">
							<br>
							<br>
							<h3>กลุ่มบริหารจัดการลุ่มน้ำ 2 มีอำนาจหน้าที่ ดังนี้</h3>
							<div class="container">
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำกับดูแล การบริหารจัดการทรัพยากรน้ำ ยุทธศาสตร์ ระบบสารสนเทศทรัพยากรน้ำ ในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดนโยบาย หลักเกณฑ์ ยุทธศาสตร์การบริหารจัดทรัพยากรน้ำ การบริหารจัดทรัพยากรข้ามลุ่มน้ำ การผันน้ำระหว่างลุ่มน้ำ
										ทั้งในภาวะปกติและภาวะวิกฤติให้เหมาะสมในแต่ละภาคส่วน
									</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดเกณฑ์ กำกับดูแล การบริหารจัดทรัพยากรน้ำระหว่างน้ำบนดิน และน้ำใต้ดิน ให้เหมาะสม</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ และกำหนดพื้นที่เสี่ยงภัย การเตือนภัยอันเกิดจากน้ำ และจัดทำแผน การป้องกัน และบรรเทาภัยอันเกิดจากน้ำ
										ในพื้นที่เสี่ยงอย่างเป็นระบบ
									</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ประเมินปริมาณน้ำหลากและการจัดการน้ำท่วมและระบายน้ำ ด้วยแบบจำลองและระบบสนับสนุนกาตัดสินใจในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำหนดนโยบาย ในการฟื้นฟูและอนุรักษ์ทรัพยากรน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> กำกับ ดูแล ติดตาม ประสาน ตวามช่วยเหลือ สนับสนุนและให้คำแนะนำแก่คณะกรรมการลุ่มน้ำหน่วยงานรัฐ และองค์กรปกครองส่วนท้องถิ่นเกี่ยวกับการบริหารจัดการน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ควบคุม กำกับ นโยบาย และให้ข้อเสนอแนะและการบริหารจัดการทรัพยากรน้ำ เพื่อให้หน่วยงานรับผิดชอบดำเนินการตามที่กำหนด</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ตรวจสอบติดตามและประเมินผลการพัฒนา และบริหารจัดการทรัพยากรน้ำในระดับลุ่มน้ำ ต่อศูนย์อำนวยการน้ำแห่งชาติ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือได้รับมอหมายเพื่อให้การดำเนินงานเป็นไปตามเป้าหมาย</a>
								</p>
								<p>
									<a>*** กลุ่มบริหารจัดการลุ่มน้ำ 2 รับผิดชอบพื้นที่ กลุ่มลุ่มน้ำภาคตะวันออกเฉียงเหนือ ประกอบด้วย โของ(อีสาน) ชี มูล</a>
								</p>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane fade in active" id="water3" aria-labelledby="home-tab">
						<div style="background-color: #efefef !important">
							<br>
							<br>
							<h3>กลุ่มบริหารจัดการลุ่มน้ำ 3 มีอำนาจหน้าที่ ดังนี้</h3>
							<div class="container">
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำกับดูแล การบริหารจัดการทรัพยากรน้ำ ยุทธศาสตร์ ระบบสารสนเทศทรัพยากรน้ำ ในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดนโยบาย หลักเกณฑ์ ยุทธศาสตร์การบริหารจัดทรัพยากรน้ำ การบริหารจัดทรัพยากรข้ามลุ่มน้ำ การผันน้ำระหว่างลุ่มน้ำ
										ทั้งในภาวะปกติและภาวะวิกฤติให้เหมาะสม
										<br>ในแต่ละภาคส่วน</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ กำหนดเกณฑ์ กำกับดูแล การบริหารจัดทรัพยากรน้ำระหว่างน้ำบนดิน และน้ำใต้ดิน ให้เหมาะสม</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ และกำหนดพื้นที่เสี่ยงภัย การเตือนภัยอันเกิดจากน้ำ และจัดทำแผน การป้องกัน และบรรเทาภัยอันเกิดจากน้ำ
										ในพื้นที่เสี่ยงอย่างเป็นระบบ
									</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ประเมินปริมาณน้ำหลากและการจัดการน้ำท่วมและระบายน้ำ ด้วยแบบจำลองและระบบสนับสนุนกาตัดสินใจในระดับกลุ่มลุ่มน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ วางแผน และกำหนดนโยบาย ในการฟื้นฟูและอนุรักษ์ทรัพยากรน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> กำกับ ดูแล ติดตาม ประสาน ตวามช่วยเหลือ สนับสนุนและให้คำแนะนำแก่คณะกรรมการลุ่มน้ำหน่วยงานรัฐ และองค์กรปกครองส่วนท้องถิ่นเกี่ยวกับการบริหารจัดการน้ำ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ควบคุม กำกับ นโยบาย และให้ข้อเสนอแนะและการบริหารจัดการทรัพยากรน้ำ เพื่อให้หน่วยงานรับผิดชอบดำเนินการตามที่กำหนด</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ศึกษา วิเคราะห์ ตรวจสอบติดตามและประเมินผลการพัฒนา และบริหารจัดการทรัพยากรน้ำในระดับลุ่มน้ำ ต่อศูนย์อำนวยการน้ำแห่งชาติ</a>
								</p>
								<p>
									<i class="glyphicon glyphicon-arrow-right"></i>
									<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือได้รับมอหมายเพื่อให้การดำเนินงานเป็นไปตามเป้าหมาย</a>
								</p>
								<p>
									<a>*** กลุ่มบริหารจัดการลุ่มน้ำ 3 รับผิดชอบพื้นที่ กลุ่มลุ่มน้ำภาคตะวันออก ประกอบด้วย ปราจีนบุรี บางปะกง โตนเลสาป ชายฝั่งทะเลตะวันออก
									</a>
								</p>
							</div>
						</div>
					</div>

					<div role="tabpanel" class="tab-pane fade in active" id="water4" aria-labelledby="home-tab">
							<div style="background-color: #fafafa !important">
									<br>
									<br>
									<h3>กลุ่มบริหารจัดการลุ่มน้ำ 4 มีอำนาจหน้าที่ ดังนี้้</h3>
									<div class="container">
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ วางแผน และกำกับดูแล การบริหารจัดการทรัพยากรน้ำ ยุทธศาสตร์ ระบบสารสนเทศทรัพยากรน้ำ ในระดับกลุ่มลุ่มน้ำ</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ กำหนดนโยบาย หลักเกณฑ์ ยุทธศาสตร์การบริหารจัดทรัพยากรน้ำ การบริหารจัดทรัพยากรข้ามลุ่มน้ำ การผันน้ำระหว่างลุ่มน้ำ
												ทั้งในภาวะปกติและภาวะวิกฤติให้เหมาะสมในแต่ละภาคส่วน
											</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ กำหนดเกณฑ์ กำกับดูแล การบริหารจัดทรัพยากรน้ำระหว่างน้ำบนดิน และน้ำใต้ดิน ให้เหมาะสม</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ และกำหนดพื้นที่เสี่ยงภัย การเตือนภัยอันเกิดจากน้ำ และจัดทำแผน การป้องกัน และบรรเทาภัยอันเกิดจากน้ำ
												ในพื้นที่เสี่ยงอย่างเป็นระบบ
											</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ประเมินปริมาณน้ำหลากและการจัดการน้ำท่วมและระบายน้ำ ด้วยแบบจำลองและระบบสนับสนุนกาตัดสินใจในระดับกลุ่มลุ่มน้ำ</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ วางแผน และกำหนดนโยบาย ในการฟื้นฟูและอนุรักษ์ทรัพยากรน้ำ</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> กำกับ ดูแล ติดตาม ประสาน ตวามช่วยเหลือ สนับสนุนและให้คำแนะนำแก่คณะกรรมการลุ่มน้ำหน่วยงานรัฐ และองค์กรปกครองส่วนท้องถิ่นเกี่ยวกับการบริหารจัดการน้ำ</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ ควบคุม กำกับ นโยบาย และให้ข้อเสนอแนะและการบริหารจัดการทรัพยากรน้ำ เพื่อให้หน่วยงานรับผิดชอบดำเนินการตามที่กำหนด</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ศึกษา วิเคราะห์ ตรวจสอบติดตามและประเมินผลการพัฒนา และบริหารจัดการทรัพยากรน้ำในระดับลุ่มน้ำ ต่อศูนย์อำนวยการน้ำแห่งชาติ</a>
										</p>
										<p>
											<i class="glyphicon glyphicon-arrow-right"></i>
											<a> ปฏิบัติงานร่วมกับ หรือสนับสนุนการปฏิบัติงานของหน่วยงานอื่นที่เกี่ยวข้องหรือได้รับมอหมายเพื่อให้การดำเนินงานเป็นไปตามเป้าหมาย</a>
										</p>
										<p>
											<a>*** กลุ่มบริหารจัดการลุ่มน้ำ 4 รับผิดชอบพื้นที่ กลุ่มลุ่มน้ำอื่นๆ นอกเหนือจากกลุ่มลุ่มน้ำ 1-3 และลุ่มน้ำระหว่างประเทศ</a>
										</p>
									</div>
								</div>
						</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /container -->
</div>
<!-- /product -->

{%endblock%}