{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">ข้อมูลสำหรับการลงพื้นที่จังหวัดชัยนาท วันที่ 10 มีนาคม 2560 ของ รมว.กษ.</h3>

			<p><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/ChaiNat-CEO.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดชัยนาท วันที่ 10 มีนาคม 2560 ของ รมว.กษ. (10/03/2017)</a> <a class="blink" style="color: red">NEW</a></p>
			
				
				<div class="gallery-grids">
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/chainat/pic1.jpg" data-lightbox="example-set" data-title="">
									<img src="images/chainat/pic1.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/chainat/pic2.jpg" data-lightbox="example-set" data-title="">
									<img src="images/chainat/pic2.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/chainat/pic3.jpg" data-lightbox="example-set" data-title="">
									<img src="images/chainat/pic3.jpg" alt="" />
										
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/chainat/pic4.jpg" data-lightbox="example-set" data-title="">
									<img src="images/chainat/pic4.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/chainat/pic5.jpg" data-lightbox="example-set" data-title="">
									<img src="images/chainat/pic5.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
			
<!-- //gallery -->
{%endblock%}