{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">ข้อมูลสำหรับการลงพื้นที่จังหวัดสระแก้ว วันที่ 7 เมษายน 2560 ของ รมว.กษ.</h3>

			<p><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/Sakaew.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดสระแก้ว วันที่ 7 เมษายน 2560 ของ รมว.กษ. (05/04/2017) (05/04/2017)</a><a class="blink" style="color: red">NEW</a></p>
			
				
					
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
<!-- //gallery -->
{%endblock%}