{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">

		<h3 class="tittle">Mr. Peerapong Rattanaburi will attend the Meeting on Exchange of Water Management Information of Irrigation System in Indonesia during 17-21 July 2017</h3>

			<p>Mr. Peerapong Rattanaburi , Irrigation Engineer Practitioner Level, Water Allocation Branch 2, Water Management Division, Bureau of Water Management and Hydrology, and RID staffs arrived in Jakarta Indonesia on Monday 17th July 2017, and will attend the Meeting on Exchange of Water Management Information of Irrigation System in Indonesia during 17-21 July 2017. Briefing on overview of Royal Irrigation Department (RID) and water management in Thailand will be presented.</p>
					
					
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
			
<!-- //gallery -->



{%endblock%}


