{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">

		<h3 class="tittle">Mr. Manop Promdee has attended the Regional Training Program for Scaling up of Satellite-Assisted Flood Forecasting Systems in South and Southeast Asian Nations during 8-14 July 2017</h3>

			<p>Mr. Manop Promdee, Irrigation Engineer Practitioner Level, Water Allocation Branch 2, Water Management Division, Bureau of Water Management and Hydrology, has attended the Regional Training Program for Scaling up of Satellite-Assisted Flood Forecasting Systems in South and Southeast Asian Nations during 8-14 July 2017 in Institute of Water Modeling (IWM) Dhaka Bangladesh, to share knowledge and experience of flood prediction and management corresponding to thorough discussion with IWM staff.
			More information about this Training: 
			<a href="http://www.iwmbd.org/iwmwebsite/index.php" style="color: blue" target="_blank">http://www.iwmbd.org/iwmwebsite/index.php</a></p>
			
				
	<div class="gallery-grids">
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic1.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic1.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic2.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic2.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic3.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic3.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic4.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic4.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic5.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic5.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic6.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic6.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic7.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic7.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic8.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic8.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic9.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic9.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic10.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic10.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic11.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic11.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic12.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic12.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic13.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic13.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic14.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic14.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic15.JPG" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic15.JPG" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Manop_Bangladesh/pic16.JPG" data-lightbox="example-set" data-title="">
						<img src="images/Manop_Bangladesh/pic16.JPG" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="clearfix"> </div>
		<script src="js/lightbox-plus-jquery.min.js"> </script>
	</div>

					</div>
				</div>
			
<!-- //gallery -->



{%endblock%}


