{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">

		<h3 class="tittle">Mr. Chaowalit will perform workshop on Innovative Water Resource Management in IR Iran during 22-26 July 2017</h3>

			<p>Mr. Chaowalit Mahama, Irrigation Engineer Practitioner Level, Water Allocation Branch 2, Water Management Division, Bureau of Water Management and Hydrology, Royal Irrigation Department, arrived in Tehran, IR Iran on Friday 21th July 2017, and will perform workshop on Innovative Water Resource Management in IR Iran during 22-26 July 2017, supporting by Asian Productivity Organization. Four topics including overview of Thailand, irrigation management, flood and drought management, and new dimensions of water management by innovations and technologies will be presented thorough discussion with oversea and local qualified participants.More information about this Training: <a href="http://www.ftpi.or.th/event/17-ag-03-ge-wsp-workshop-innovative-water-resource-management" style="color: blue" target="_blank">http://www.ftpi.or.th/event/17-ag-03-ge-wsp-workshop-innovative-water-resource-management</a> </p>
					
					
		<div class="gallery-grids">
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic1.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic1.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>	
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic10.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic10.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic3.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic3.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>

		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic4.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic4.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic5.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic5.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic6.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic6.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic7.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic7.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic8.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic8.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic9.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic9.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic2.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic2.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
		<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
			<div class="grid">
				<figure class="effect-apollo">
					<a class="example-image-link" href="images/Chaowalit/pic11.jpg" data-lightbox="example-set" data-title="">
						<img src="images/Chaowalit/pic11.jpg" alt="" />	
					</a>
				</figure>
			</div>
		</div>
			<div class="clearfix"> </div>
			<script src="js/lightbox-plus-jquery.min.js"> </script>
		</div>

		</div>
	</div>
			
<!-- //gallery -->



{%endblock%}


