{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">ข้อมูลสำหรับการลงพื้นที่จังหวัดระยอง วันที่ 5 เมษายน 2560 ของ นรม.และคณะ</h3>

			<p><i class="glyphicon glyphicon-arrow-right"></i><a href="planing/Rayong.pdf" target="_blank">ข้อมูลสำหรับการลงพื้นที่จังหวัดระยอง วันที่ 5 เมษายน 2560 ของ นรม.และคณะ (05/04/2017)</a><a class="blink" style="color: red">NEW</a></p>
			
				
					
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
<!-- //gallery -->
{%endblock%}