{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">

		<h3 class="tittle">Mr. Somchok Chaisawat, Irrigation Engineer Practitioner Level, Water Allocation Branch 2 (WAB2), has attended the training course under the Japan Science and Technology Agency (JST)’s SAKURA Exchange Program in Science</h3>

			<p>Mr. Somchok Chaisawat, Irrigation Engineer Practitioner Level, Water Allocation Branch 2 (WAB2), Water Management Division, Bureau of Water Management and Hydrology, has attended the training course under the Japan Science and Technology Agency (JST)’s SAKURA Exchange Program in Science (Sakura Science Plan) in cooperation with ASEAN Food Security Information System (AFSIS) project covered by RESTEC. The training will be held in Tokyo and Saitama in Japan on 16-25 October, 2017. In this training, he will obtain basic remote sensing knowledge and techniques by using the satellite data and software, which will support for WAB2’s work efficiently. More information about this Training: <a href="https://www.restec.or.jp/en/" target="_blank" style="color: blue">https://www.restec.or.jp/en/</a></p>
					
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
			
<!-- //gallery -->



{%endblock%}


