{%extends "_base2.html"%} {%block details%}
<div class="product" id="product">
    <div class="container">

        <div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
            <h3 class="tittle">โครงสร้างหน่วยงาน</h3>
            <img src="images/icon/about1.jpg" alt="" class="img-responsive">
            <br>
            <img src="images/icon/about2.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /product -->

{%endblock%}