<div class="planing" id="planing">
<div class="container">
  <div class="row" id="planwet">
  <br>
  <h3 class="tittle new"> <span>แผนการบริหารจัดการทรัพยากรน้ำฤดูฝน</span></h3>
    <!--<h3 class="bars">แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</h3>-->
    <ul class="list-group">
    <!-- <li class="list-group-item"><a  href="planing/wet/management2560.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2560</a><a class="blink" style="color: red"> NEW</a> </li>
    <li class="list-group-item"><a  href="planing/wet/management2559.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2559</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2558.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2558</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2557.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2557</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2556.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2556</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2553.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2553</a></li> -->
    </ul>
  </div>
</div>
</div>

<div class="planing" id="planing" style="background-color: #DEE2E3;">
<div class="container">
  <!--<div class="row" id="planwet">
  <br>
  <h3 class="tittle new"> <span>แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</span></h3>-->
    <!--<h3 class="bars">แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</h3>-->
    <!--<ul class="list-group">
    <li class="list-group-item"><a  href="planing/wet/management2560.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2560</a><a class="blink" style="color: red"> NEW</a> </li>
    <li class="list-group-item"><a  href="planing/wet/management2559.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2559</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2558.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2558</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2557.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2557</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2556.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2556</a></li>
    <li class="list-group-item"><a  href="planing/wet/management2553.pdf" target="_blank">แผนการจัดสรรน้ำและเพาะปลูกพืชฤดูฝนปี 2553</a></li>
    </ul>
  </div>-->
  <div class="row" id="plandry">
    <br>
    <h3 class="tittle new"> <span>แผนป้องกันและแก้ไขภาวะน้ำท่วม</span></h3>
      <!--<h3 class="bars">แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</h3>-->
      <ul class="list-group list-group-flush">
      <!-- <li class="list-group-item"><a  href="planing/dry/manage_water2560-61_editP48.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2560/2561 (แก้ไขหน้า 48)</a> <a href="planing/dry/droughtplan_proj_cpy_2560-61.xlsx" style="color: blue"> ข้อมูลแจกแจงรายโครงการของลุ่มน้ำเจ้าพระยา(xlsx)</a> <a class="blink" style="color: red"> NEW</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2559-60.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2559/2560</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2558-59.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2558/2559</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2557-58.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2557/2558</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2556-57.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2556/2557</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2555-56.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2555/2556</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2554-55.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2554/2555</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2553-54.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2553/2554</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2552-53.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2552/2553</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2551-52.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2551/2552</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2550-51.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2550/2551</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2549-50.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2549/2550</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2548-49.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2548/2549</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2547-48.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2547/2548</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2546-47.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2546/2547</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2545-46.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2545/2546</a></li>
      <li class="list-group-item"><a  href="planing/dry/manage_water2544-45.pdf" target="_blank">แผนการจัดสรรน้ำและการปลูกพืชฤดูแล้งปี 2544/2545</a></li> -->
      </ul>
    </div>

    <!--<div class="row" id="planprotect">
      <h3 class="tittle new"> <span>แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน)</span></h3>-->
        <!--<h3 class="bars">แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</h3>-->
      <!--<ul class="list-group">
        <li class="list-group-item"><a  href="planing/wet/protect2560.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2560</a><a class="blink" style="color: red"> NEW</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2559.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2559</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2558.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2558</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2557.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2557</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2556.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2556</a></li>
      </ul>
    </div>-->
</div>
</div>

<div class="planing" id="planing">
<div class="container">
  <div class="row" id="planprotect">
    <br>
      <h3 class="tittle new"> <span>แผนการบริหารจัดการทรัพยากรน้ำฤดูแล้ง</span></h3>
        <!--<h3 class="bars">แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน</h3>-->
      <ul class="list-group">
        <!-- <li class="list-group-item"><a  href="planing/wet/protect2560.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2560</a><a class="blink" style="color: red"> NEW</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2559.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2559</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2558.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2558</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2557.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2557</a></li>
        <li class="list-group-item"><a  href="planing/wet/protect2556.pdf" target="_blank">แผนการป้องกันและบรรเทาภัยอันเกิดจากน้ำ (ฤดูฝน) 2556</a></li> -->
      </ul>
    </div>
</div>
</div>