{%extends "_base2.html"%}
{%block details%}
<!-- typography -->
<div class="typography">
 <div class="container">
  <h3 class="tittle">แผนผังเว็บไซต์</h3>
  <div class="col-md-12 product-left heading">
    <h3 class="bars glyphicon glyphicon-home"><a href="home.html"> หน้าหลัก </a></h3>
  </div>

   <div class="col-md-12 product-left heading">
     <h3 class="bars glyphicon glyphicon-home"><a> เกี่ยวกับหน่วยงาน </a></h3>
        <div class="col-md-12">
         <p><i class="glyphicon glyphicon-arrow-right"></i><a href="organizationStruction.html">โครงสร้างหน่วยงาน</a></p>
         <p><i class="glyphicon glyphicon-arrow-right"></i><a href="employee.html">บุคลากรในหน่วยงาน</a></p>
         <p><i class="glyphicon glyphicon-arrow-right"></i><a href="missionResponsibilities.html">หน้าที่ความรับผิดชอบ</p>
       </div>
     </div>

     <div class="col-md-12 product-left heading">
       <h3 class="bars glyphicon glyphicon-home"><a href="#"> คำรับรองการปฏิบัติราชการ </a></h3>
       <div class="col-md-12">
        <p><i class="glyphicon glyphicon-arrow-right"></i> คำรับรองการปฏิบัติราชการ</p>
        <p><i class="glyphicon glyphicon-arrow-right"></i> รายงานผลการปฏิบัติงานตามคำรับรอง</p>
      </div>
     </div>
     <div class="col-md-12 product-left heading">
        <h3 class="bars glyphicon glyphicon-home"><a href="relateDirective.html"> คำสั่งที่เกี่ยวข้อง </a></h3>
      </div>
     <div class="col-md-12 product-left heading">
       <h3 class="bars glyphicon glyphicon-home"><a href="contact.html"> ติดต่อหน่วยงาน </a></h3>
     </div>
     <div class="col-md-12 product-left heading">
       <h3 class="bars glyphicon glyphicon-home"><a href="sitemap.html"> แผนผังเว็บไซต์ </a></h3>
     </div>
     <!-- <div class="col-md-12 product-left heading">
       <h3 class="bars glyphicon glyphicon-home"><a href="http://water.rid.go.th/hydhome/ma/book-hyd.html" target="_blank"> หนังสือเวียน สบอ. </a></h3>
     </div> -->




 </div>
</div>

{%endblock%}
