
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Inventive Design a Interior Architects Multipurpose Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Inventive Design Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/iconeffects.css" rel='stylesheet' type='text/css' />
<link href="css/test.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="css/leoslider.css">
<link href="css/iconeffects.css" rel='stylesheet' type='text/css' />
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/web-font-->
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Nosifer' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!-- swipe box js -->
	<script src="js/jquery.leoslider.js"></script>
	    <script src="js/main.js"></script>
<!-- //swipe box js -->


</head>
<body>
<!--start-home-->
<div class="main-header" id="house">
			<div class="header-strip">
			   <div class="container">
				<p class="location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>29C, Autem quibusdam debitis.</p>
				<p class="phonenum"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ 655 8858 54892</p>
				<div class="social-icons">
					<ul>
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google-plus"> </i></a></li>
						<li><a href="#"><i class="dribble"> </i></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="header-top">
			<div class="logo"><a href="home.html"><h1><span>ฝ่</span>ายจัดสรรน้ำที่ <span class="two">2</span></h1></a></div>
						<nav class="navbar navbar-default">
					  <div class="container-fluid">

				<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a class="active" href="home.html">หน้าหลัก<span class="sr-only">(current)</span></a></li>
				<!--<li><a class="scroll" href="#about">เกี่ยวกับฝ่ายงาน</a></li>-->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">เกี่ยวกับองค์กร<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a  href="aboutus.html">โครงสร้างหน่วยงาน</a></li>
						<li><a  href="aboutus.html">หน้าที่ความรับผิดชอบตามภารกิจ</a></li>
						<li><a  href="aboutus.html">ยุทธศาสตร์ของ สำนัก/กอง</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="certificate.html" class="dropdown-toggle" data-toggle="dropdown">คำรับรองการปฏิบัติราชการ<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="certificate.html">คำรับรองการปฏิบัติราชการ</a></li>
						<li><a href="certificate.html">รายงานผลการปฏิบัติงานตามคำรับรอง</a></li>
					</ul>
				</li>
				<li>
						<a class="active" href="relateDirective.html">คำสั่งที่เกี่ยวข้อง</a>
					</li>
				<li><a href="contact.html">ติดต่อเรา</a></li>
				<li><a href="contact.html">แผนผังเว็บไซต์</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
			<div class="clearfix"></div>
	</div>
	<section id="line-slider">
					 <div class="leoslider">


						 <ul class="slides">
							 <li>
									<img src="images/1.jpg" alt=" " />
							 </li>
							 <li>
									<img src="images/2.jpg" alt=" " />
							 </li>
							 <li>
								<img src="images/3.jpg" alt=" " />
							 </li>
						 </ul>
					 </div>
			 </section>
			 <!-- /Line Slider -->
</div>




<!--footer-->
<div class="footer">
		<div class="container">
			<div class="footer-top">
			<!--	<div class="col-md-4 amet-sed">
				<h4>Inventive Design </h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<ul class="social">
					<li><i class="glyphicon glyphicon-home"> </i>Sector 21 , main road </li>
					<li class="tele-phone"><i class="glyphicon glyphicon-earphone"> </i> 02-669-2153</li>
					<li class="mail"><a href="mailto:contact@example.com"><i class="glyphicon glyphicon-envelope"> </i> contact@example.com</a></li>
				</ul>
				</div>
				<div class="col-md-4 amet-sed amet-medium">
				<h4>Twitter Feed</h4>
					<p><a href="single.html">@ Inventive Design</a> Lorem ipsum is simply dummy text hid Lorem ipsum is simply dummy text hidden variab 3 hours ago</p>
					<p><a href="single.html">@ Inventive Design</a> Lorem ipsum is simply dummy text hid Lorem ipsum is simply dummy text hidden variab 3 hours ago</p>
				</div>
				<div class="col-md-4 amet-sed ">
				<h4>Follow Us</h4>
						<ul class="social-icons2 wow slideInDown" data-wow-duration="1s" data-wow-delay=".3s">
										<li><a href="#" class="tw"></a></li>
										<li><a href="#" class="fb"> </a></li>
										<li><a href="#" class="in"></a></li>
										 <div class="clearfix"></div>
									</ul>
									<div class="support">
									<form action="#" method="post">
										<input type="text" placeholder="Enter email...." required="">


										<input type="submit" value="SUBMIT" class="botton">
									<form>

							</div>
				</div>-->
				<div class="clearfix"> </div>
			</div>
				<p class="footer-class">© 2016 ฝ่ายจัดสรรน้ำที่ 2 811 ถ.สามเสน แขวงถนนนครไชยศรี เขตดุสิต กรุงเทพมหานคร 10300 | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
		</div>
	</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="js/bootstrap.js"></script>

  </body>
</html>
