{%extends "_base2.html"%}
{%block details%}
<!-- gallery -->
	<div class="gallery" id="gallery">
	<div class="container">
		<h3 class="tittle">การจัดการเรียนการสอนภายในหน่วยงาน (Unit School)</h3>

			<p><i class="glyphicon glyphicon-arrow-right"></i> หัวข้อ แผนการจัดสรรน้ำและการเพาะปลูกพืชฤดูฝน (20/12/2017)</p>
			
				
				<div class="gallery-grids">
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__1.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__1.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__2.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__2.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__3.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__3.jpg" alt="" />
										
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__4.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__4.jpg" alt="" />
									
								</a>
							</figure> 
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__5.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__5.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__7.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__7.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__8.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__8.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__9.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__9.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__10.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__10.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__11.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__11.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
						<div class="grid">
							<figure class="effect-apollo">
								<a class="example-image-link" href="images/unitschool-1/S__12.jpg" data-lightbox="example-set" data-title="">
									<img src="images/unitschool-1/S__12.jpg" alt="" />
									
								</a>
							</figure>
						</div>
					</div>
					<div class="clearfix"> </div>
					<script src="js/lightbox-plus-jquery.min.js"> </script>
				</div>

					</div>
				</div>
			
<!-- //gallery -->
{%endblock%}